.ingredients{
    .ingredients__form{
        label{
            display: block;
            padding-bottom: 10px;
            font-size: 12px;
            font-weight: 600;
            &.form__submit{
                text-align: center;
            }
            input{
                box-sizing: border-box;
                padding: 7px 10px;
                width: 100%;
                border: 1px solid #ccc;
            }
        }
        .button{
            margin: auto;
        }
    }
    .ingredients__list{
        list-style: none;
        p{
            text-align: center;
        }
        .ingredients__item{
            padding: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:not(:last-child){
                border-bottom: 1px solid #eee;
            }
        }
    }
}