.modal{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000030;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal__content{
        background-color: #fff;
        border-radius: 4px;
        padding: 20px;
    }
    &.modal--active{
        opacity: 1;
        z-index: 9;
    }
}