.App{
    text-align: center;
}
h2{
    margin: 50px 0;
}
small{
    font-size: 10px;
    color: #999;
    text-align: center;
    width: 100%;
    display: inline-block;
}
*{
    padding: 0;
    margin: 0;
    outline: none;
}
input{
    box-sizing: border-box;
    padding: 7px 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    &[type=number]{
        -webkit-appearance: none;
        -moz-appearance:textfield;
    }
}
label{
    position: relative;
    input:focus ~ .line{
        width: 100%;
    }
    .line{
        transition: 300ms;
        height: 2px;
        width: 0%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #7c69a5;
    }
}